<% layout('layouts/boilerplate') %> 
<div class="">
    <div class="">
        <h3 class="mb-3">Account Settings</h3>
    </div>
    
    <div>
        <form action="/users" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" type="text" id="username" name="user[username]" value="<%= currentUser.username %>" required>
                <div class="invalid-feedback">
                    Please provide an username.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" name="email" id="email" type="user[email]" value="<%= currentUser.email %>" required></input>
                <div class="invalid-feedback">
                    Please provide an email.
                </div>
            </div>
            <div class="mb-3">
                <label for="avatar" class="form-label">Avatar</label>
                <input class="form-control" type="file" id="avatar" name="user[avatar]">
            </div>
            
            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <textarea class="form-control" name="user[bio]" id="bio" rows="5" value="<%= currentUser.bio %>"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Join</button>
                <a href="/<%= currentUser._id %>"><button type="button" class="btn btn-secondary">Cancel</button></a>
            </div>
        </form>
    </div>
</div>
