<% layout('layouts/boilerplate') %> 
<div class="">
    <div class="d-flex justify-content-center offset-1 mb-3">
                <h1>All Blog Posts</h1>
    </div>
    <div class="">
        <ul class="">
            <% for (let post of posts) {%>
                <div class="row">
                    <div class="card border-info mb-2 w-100">
                        <a class="btn btn-light" href="/<%= post.user %>/posts/<%= post._id %>">
                            <div class="card-body">
                                <h4 class="card-title"><%= post.title %></h4>
                                <div class="card-text"><%= post.description %></div>
                            </div>
                        </a>
                    </div>
                </div>
            <%}%>  
        </ul>
    </div>
</div>
