<% layout('layouts/boilerplate') %> 
<div class="container-md">
    <div class="d-flex justify-content-center">
                <h1>All Blog Posts</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-6">
            <ul class="">
                <% for (let post of posts) {%>
                    <div class="card border-info ">
                        <a class="btn btn-light" href="/<%= post.user %>/posts/<%= post._id %>">
                            <div class="row">
                                <div class="card-body">
                                    <div class="card-title"><%= post.title %></div>
                                    <div class="card-text"><%= post.description %></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <br>
                <%}%>  
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            Bookmark & Favorites
        </div>
    </div>
</div>
