<% layout('layouts/boilerplate') %> 
<div class="container-md">
    <h3 class="mt-3">New Post</h3>
    
    <form action="/<%= userId %>/posts" method="POST">
        <div class="mt-3 mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" id="title" name="post[title]">
        </div>
        <div class="mb-3">
            <label for="imageURL" class="form-label">ImageURL</label>
            <input class="form-control" name="post[image]" id="imageURL" type="text"></input>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="post[description]" id="description"rows="5"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Post</button>
            <a href="/<%= userId %>"><button type="button" class="btn btn-secondary">Cancel</button></a>
        </div>
    </form>
</div>
